<!DOCTYPE html>

{% extends "bootstrap/base.html" %}


{% block title %}
Buscador de Noticias
{% endblock %}



{% block body %}

<div class="row"><div class="col-md-12">

 <div class="container">
     <a href="/">
     <h4>News Research: </h4>
     </a>   
        <form action="{{ url_for('search') }}" method = 'POST'>
        
        <div class="input-group">
        
        <input type="text" class="form-control" name="keywords">
        <span class="input-group-btn">
        
        <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search"></span>
        </button>

        </span>

        </div>
        </form>

  <!-- ... -->
</div>
</div>
</div>

{% endblock %}
