{% extends "index.html" %}
{% block body %}
{{ super() }}

{% block content %}
<div class="row" style="height: 50px">

<div class="col-md-1">
</div>

<div class="col-md-4">
<h5 align="left">Búsqueda de : {{ keywords }}</h5>
</div></div>

<div class ="container-fluid">
<div class="list-group" >
  {% if result %}
    {% for new in result %}
        <a href="#" class="list-group-item">
        <div class="row">
        <div class"col-md-1">
            <h4> {{new[0]}}</h4>
        </div>
        </div>
        </a>
      {% endfor %}  
    {% else %}
      <h5>Sorry, no more results :(</h5>
    {% endif %}
</div>
</div>
</div>
    
<div class="text-center">
<nav class="navbar navbar-default" role="navigation">
  <ul class="pagination">

    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% if len_result %}
    {% for x in range(1,len_result) %}
    	<li><a href="/search/{{x}}">{{x}}</a></li>
    {% endfor %}  
    {% endif %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
   	
{% endblock %}
{% endblock %}



